<footer class="footer">
    <!-- load script at end of body -->
    <% if (admin) { %>
    <a href="/users/logout">logout</a>
    <% } %> <% if ((sub.projects === false) || (sub.blog === false)) { %>
    <section>
        <div>
            <h4>Sign up to receive an email whenever I post to...</h4>
        </div>
        <form action="/users/subscribe" method="POST" autocomplete="off">
            <div>
                <% if (sub.projects === false) { %>
                <div>
                    <label for="projects"
                        ><%= pages.filter(e => e.dir === 'projects')[0].name %>
                    </label>
                    <input type="checkbox" name="projects" />
                </div>
                <% } %><%if (sub.blog === false) { %>
                <div>
                    <label for="blog"
                        ><%= pages.filter(e => e.dir === 'blog')[0].name %>
                    </label>
                    <input type="checkbox" name="blog" />
                </div>
                <% } %>
            </div>
            <div>
                <input
                    type="text"
                    name="first_name"
                    class="input"
                    placeholder="first name"
                />
                <input
                    type="email"
                    name="email"
                    required
                    class="input"
                    placeholder="your email address"
                />
            </div>
            <button class="button" type="submit">Subscribe</button>
        </form>
    </section>
    <% } %>
    <div>
        <i
            id="github"
            class="fab fa-github-square"
            onclick="window.open('https://github.com/irackson')"
        ></i>
        <i
            id="slack"
            class="fab fa-slack"
            onclick="window.open('https://ga-students.slack.com/team/U01GN8NP1C5')"
        ></i>
    </div>
    <script src="/all.js"></script>
</footer>
