<footer class="footer">
    <!-- load script at end of body -->
    <% if (admin) { %>
    <a href="/users/logout">logout</a>
    <% } %>
    <section>
        <div>
            <h4>Sign up to receive an email whenever I post a new...</h4>
        </div>
        <form action="">
            <div>
                <!-- checkbox for projects -->
                <!-- checkbox for blogs -->
            </div>
            <div>
                <!-- textbox input for first name -->
                <!-- textbox input for email -->
            </div>
            <button></button>
        </form>
    </section>
    <div>
        <i
            id="github"
            class="fab fa-github-square"
            onclick="window.open('https://github.com/irackson')"
        ></i>
        <i
            id="slack"
            class="fab fa-slack"
            onclick="window.open('https://ga-students.slack.com/team/U01GN8NP1C5')"
        ></i>
    </div>
    <script src="/all.js"></script>
</footer>
