<nav>
    <ul>
        <% for ( let i = 0; i < pages.length; i++ ) { %>
        <!-- class=currentPage if true -->
        <li
            class="<%= pages[i].name === page.name ? 'navlink--focused' : 'navlink' %>"
        >
            <a href="<%= pages[i].dir %>" aria-label="<%= pages[i].dir %>">
                ><%= pages[i].name.toUpperCase() %>
            </a>
        </li>
        <% } %>
    </ul>
</nav>
