<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./partials/head.ejs') %>

        <title>Ian Rackson</title>
    </head>
    <body>
        <main class="home">
            <h1>IAN RACKSON</h1>
        </main>

        <%- include("./partials/footer") %>
    </body>
</html>
