<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./partials/head.ejs') %>

        <title>Ian Rackson</title>
    </head>
    <body>
        <header><%- include("./partials/nav") %></header>
        <main class="home">
            <h4>IAN RACKSON</h4>
            <h5>
                expect: HOME, PROJECTS, SERVICES, ABOUT, RESUME, METRICS, BLOG
            </h5>
        </main>

        <%- include("./partials/footer") %>
    </body>
</html>
